@import "tailwindcss";

/* -- fade -- */
@keyframes vodal-fade-enter {
    from {
        opacity: 0;
    }
}

@keyframes vodal-fade-leave {
    to {
        opacity: 0;
    }
}

/* -- zoom -- */
@keyframes vodal-zoom-enter {
    from {
        transform: scale3d(0.3, 0.3, 0.3);
    }
}

@keyframes vodal-zoom-leave {
    to {
        transform: scale3d(0.3, 0.3, 0.3);
    }
}

/* -- slideDown -- */
@keyframes vodal-slideDown-enter {
    from {
        transform: translate3d(0, -100px, 0);
    }
}

@keyframes vodal-slideDown-leave {
    to {
        transform: translate3d(0, -100px, 0);
    }
}

/* -- slideLeft -- */
@keyframes vodal-slideLeft-enter {
    from {
        transform: translate3d(-150px, 0, 0);
    }
}

@keyframes vodal-slideLeft-leave {
    to {
        transform: translate3d(-150px, 0, 0);
    }
}

/* -- slideRight -- */
@keyframes vodal-slideRight-enter {
    from {
        transform: translate3d(150px, 0, 0);
    }
}

@keyframes vodal-slideRight-leave {
    to {
        transform: translate3d(150px, 0, 0);
    }
}

/* -- slideUp -- */
@keyframes vodal-slideUp-enter {
    from {
        transform: translate3d(0, 100px, 0);
    }
}

@keyframes vodal-slideUp-leave {
    to {
        transform: translate3d(0, 100px, 0);
    }
}

/* -- flip -- */
@keyframes vodal-flip-enter {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
    }

    70% {
        transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    }

    to {
        transform: perspective(400px);
    }
}

@keyframes vodal-flip-leave {
    from {
        transform: perspective(400px);
    }

    30% {
        transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    }

    to {
        transform: perspective(400px) rotate3d(1, 0, 0, 45deg);
    }
}

/* -- rotate -- */
@keyframes vodal-rotate-enter {
    from {
        transform: rotate3d(0, 0, 1, -180deg) scale3d(0.3, 0.3, 0.3);
    }
}

@keyframes vodal-rotate-leave {
    to {
        -webkit-transform: rotate3d(0, 0, 1, 180deg) scale3d(0.3, 0.3, 0.3);
        transform: rotate3d(0, 0, 1, 180deg) scale3d(0.3, 0.3, 0.3);
    }
}

/* -- door -- */
@keyframes vodal-door-enter {
    from {
        transform: scale3d(0, 1, 1);
    }
}

@keyframes vodal-door-leave {
    60% {
        transform: scale3d(0.01, 1, 1);
    }

    to {
        transform: scale3d(0, 1, 0.1);
    }
}



.vodal-fade-enter {
    animation: vodal-fade-enter both ease-in;
}

.vodal-fade-leave {
    animation: vodal-fade-leave both ease-out;
}

.vodal-zoom-enter {
    animation: vodal-zoom-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

.vodal-zoom-leave {
    animation: vodal-zoom-leave both;
}

.vodal-slideDown-enter {
    animation: vodal-slideDown-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

.vodal-slideDown-leave {
    animation: vodal-slideDown-leave both;
}

.vodal-slideLeft-enter {
    animation: vodal-slideLeft-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

.vodal-slideLeft-leave {
    -webkit-animation: vodal-slideLeft-leave both;
    animation: vodal-slideLeft-leave both;
}

.vodal-slideRight-enter {
    animation: vodal-slideRight-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

.vodal-slideRight-leave {
    animation: vodal-slideRight-leave both;
}

.vodal-slideUp-enter {
    animation: vodal-slideUp-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

.vodal-slideUp-leave {
    animation: vodal-slideUp-leave both;
}

.vodal-flip-enter {
    animation: vodal-flip-enter both ease-in;
    backface-visibility: visible !important;
}

.vodal-flip-leave {
    animation: vodal-flip-leave both;
    backface-visibility: visible !important;
}

.vodal-rotate-enter {
    animation: vodal-rotate-enter both;
    transform-origin: center;
}

.vodal-rotate-leave {
    animation: vodal-rotate-leave both;
    transform-origin: center;
}

.vodal-door-enter {
    animation: vodal-door-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

.vodal-door-leave {
    animation: vodal-door-leave both;
}